src/main/mule/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5154b4ad-c6e8-400f-a404-27e480b15db2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoFlow" doc:id="171e8467-3768-4e75-bf15-cbaeae3dbaf6" >
		<http:listener doc:id="5a35fbf0-348f-4393-95ad-96d5d9168f14" doc:name="" path="/demo" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="8668eebb-65b0-469a-b984-6d3c70067508" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="24494e6c-298c-4f85-9f63-6c9328c85472" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="84a7dc92-4bfd-4bbe-a573-6dc13eebc0ca" message="#[payload]"/>
	</flow>
</mule>
